

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 150px 50px 150px;
  /*  padding: 250px; */

    background-color: black;
}

.result{
    padding: 75px 200px;
    background-color: grey;
}

.content {
    padding: 75px 150px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.content button {
    color: whitesmoke;
    padding: 30px 30px;
    margin: 5px;
    background-color: rgba(162, 149, 149, 0.655);
    border-style: none;
    border-radius:5px;
    transition-duration: 0.2s;
}

.content button:hover {
    background-color: rgba(162, 149, 149, 0.900)
}